.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: tomato;
  color: white;
}

.restaurant-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
